<div class="grid wide services__container mt-4" style="background-color: white">
  <div class="row justify-content-center">
    <h2>Create customer</h2>
  </div>
  <div>
    <form style=" width: 1000px; margin-left: 100px" [formGroup]="customerCreateForm" (ngSubmit)="createCustomer()">
      <div class="row d-flex">
        <div class="col-6">
          <div class="form-group">
            <label>Customer ID</label>
            <input type="text" class="form-control" style="background-color: #FEFBE7" formControlName="id">
            <div *ngIf="customerCreateForm.get('id')?.invalid && (customerCreateForm.get('id')?.touched||customerCreateForm.get('id')?.dirty)">
              <div [hidden]="!customerCreateForm.get('id').errors.required">
                <small class="form-text" style="color: red; font-style: italic" >
                  Bạn chưa nhập id.</small>
              </div>
            </div>
            <div *ngIf="customerCreateForm.get('id')?.invalid && (customerCreateForm.get('id')?.touched||customerCreateForm.get('id')?.dirty)">
              <div [hidden]="!customerCreateForm.get('id').errors.pattern">
                <small class="form-text" style="color: red; font-style: italic" >
                  Nhập id phải là kiểu số.</small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Customer Code</label>
            <input type="text" class="form-control" style="background-color: #FEFBE7" formControlName="code">
            <div *ngIf="customerCreateForm.get('code')?.invalid && (customerCreateForm.get('code')?.touched||customerCreateForm.get('code')?.dirty)">
              <div [hidden]="!customerCreateForm.get('code').errors.required">
                <small class="form-text" style="color: red; font-style: italic" >
                  Bạn chưa nhập mã khách.</small>
              </div>
            </div>
            <div *ngIf="customerCreateForm.get('code')?.invalid && (customerCreateForm.get('code')?.touched||customerCreateForm.get('code')?.dirty)">
              <div [hidden]="!customerCreateForm.get('code').errors.pattern">
                <small class="form-text" style="color: red; font-style: italic" >
                  Nhập mã khách theo định dạng KH-XXXX.</small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Customer Type</label>
            <select class="custom-select" style="background-color: #FEFBE7" formControlName="type">
              <option value="">Choose Customer Type</option>
              <option value="{{type}}" *ngFor="let type of customerTypes">{{type}}</option>
            </select>
            <div *ngIf="customerCreateForm.get('type')?.invalid && (customerCreateForm.get('type')?.touched || customerCreateForm.get('type')?.dirty)">
              <small class="form-text" style="color: red; font-style: italic">Bạn chưa chọn loại khách.</small>
            </div>
          </div>
          <div class="form-group">
            <label>Customer Name</label>
            <input type="text" class="form-control" style="background-color: #FEFBE7" formControlName="name">
            <div *ngIf="customerCreateForm.get('name')?.invalid && (customerCreateForm.get('name')?.touched||customerCreateForm.get('name')?.dirty)">
              <div [hidden]="!customerCreateForm.get('name').errors.required">
                <small class="form-text" style="color: red; font-style: italic" >
                  Bạn chưa nhập tên.</small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Birthday</label>
            <input type="date" class="form-control" style="background-color: #FEFBE7" formControlName="birthday">
            <div *ngIf="customerCreateForm.get('birthday')?.invalid && (customerCreateForm.get('birthday')?.touched||customerCreateForm.get('birthday')?.dirty)">
              <div [hidden]="!customerCreateForm.get('birthday').errors.required">
                <small class="form-text" style="color: red; font-style: italic" >
                  Bạn chưa chọn ngày sinh.</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6" style="margin-top: 38px">
          <div class="form-group d-flex">
            <label>Gender: </label>
            <div class="form-check" *ngFor="let gender of genders">
              <label>
                <input type="radio" formControlName="gender" [value]="gender">{{gender}} </label>
            </div>
          </div>
          <div class="form-group">
            <label>ID Card</label>
            <input type="text" class="form-control" style="background-color: #FEFBE7" formControlName="id_card">
            <div *ngIf="customerCreateForm.get('id_card')?.invalid && (customerCreateForm.get('id_card')?.touched||customerCreateForm.get('id_card')?.dirty)">
              <div [hidden]="!customerCreateForm.get('id_card').errors.required">
                <small class="form-text" style="color: red; font-style: italic" >
                  Bạn chưa nhập CMND.</small>
              </div>
            </div>
            <div *ngIf="customerCreateForm.get('id_card')?.invalid && (customerCreateForm.get('id_card')?.touched||customerCreateForm.get('id_card')?.dirty)">
              <div [hidden]="!customerCreateForm.get('id_card').errors.pattern">
                <small class="form-text" style="color: red; font-style: italic" >
                  Nhập CMND chưa đúng định dạng.</small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Phone Number</label>
            <input type="text" class="form-control" style="background-color: #FEFBE7" formControlName="phone">
            <div *ngIf="customerCreateForm.get('phone')?.invalid && (customerCreateForm.get('phone')?.touched||customerCreateForm.get('phone')?.dirty)">
              <div [hidden]="!customerCreateForm.get('phone').errors.required">
                <small class="form-text" style="color: red; font-style: italic" >
                  Bạn chưa nhập số điện thoại.</small>
              </div>
            </div>
            <div *ngIf="customerCreateForm.get('phone')?.invalid && (customerCreateForm.get('phone')?.touched||customerCreateForm.get('phone')?.dirty)">
              <div [hidden]="!customerCreateForm.get('phone').errors.pattern">
                <small class="form-text" style="color: red; font-style: italic" >
                  Nhập số điện thoại chưa đúng định dạng.</small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" style="background-color: #FEFBE7" formControlName="email">
            <div *ngIf="customerCreateForm.get('email')?.invalid && (customerCreateForm.get('email')?.touched||customerCreateForm.get('email')?.dirty)">
              <div [hidden]="!customerCreateForm.get('email').errors.required">
                <small class="form-text" style="color: red; font-style: italic" >
                  Bạn chưa nhập email.</small>
              </div>
            </div>
            <div *ngIf="customerCreateForm.get('email')?.invalid && (customerCreateForm.get('email')?.touched||customerCreateForm.get('email')?.dirty)">
              <div [hidden]="!customerCreateForm.get('email').errors.pattern">
                <small class="form-text" style="color: red; font-style: italic" >
                  Nhập email chưa đúng định dạng.</small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Address</label>
            <input type="text" class="form-control" style="background-color: #FEFBE7" formControlName="address">
            <div *ngIf="customerCreateForm.get('address')?.invalid && (customerCreateForm.get('address')?.touched||customerCreateForm.get('address')?.dirty)">
              <div [hidden]="!customerCreateForm.get('address').errors.required">
                <small class="form-text" style="color: red; font-style: italic" >
                  Bạn chưa nhập địa chỉ.</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wide grid button__container">
        <button type="submit" class="btn btn-outline-dark mb-4" style="background-color: #DAE5D0" [disabled]="!customerCreateForm.valid">Save
        </button>
        <button type="submit" class="btn btn-outline-dark ml-4 mb-4" style="background-color: #DAE5D0" (click)="formReset()">Cancel
        </button>
      </div>
    </form>
  </div>
</div>

