<h2>Form Đăng Nhập</h2>
<form style="width: 500px" [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="form-group">
    <label for="inputEmail1">Email address</label>
    <input type="email" class="form-control" id="inputEmail1" placeholder="Enter email" formControlName="email">
    <div *ngIf="!loginForm.get('email')?.valid && (loginForm.get('email')?.touched||loginForm.get('email')?.dirty)">
      <div [hidden]="!loginForm.get('email').errors.required">
        <small class="form-text" style="color: red; font-style: italic" >
          Bạn chưa nhập email.</small>
      </div>
      <div [hidden]="!loginForm.get('email').errors.pattern">
        <small class="form-text" style="color: red; font-style: italic" >
          Bạn nhập email chưa đúng định dạng.</small>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" id="inputPassword" placeholder="Password" formControlName="password">
    <div *ngIf="!loginForm.get('password')?.valid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)">
      <div [hidden]="!loginForm.get('password').errors.required">
        <small class="form-text" style="color: red; font-style: italic" >
          Bạn chưa nhập mật khẩu.</small>
      </div>
      <div [hidden]="loginForm.get('password').errors.minLength">
        <small class="form-text" style="color: red; font-style: italic" >Mật khẩu phải có ít nhất 6 ký tự.</small>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
</form>
