<div class="container-fluid">
  <div class="content">
    <div class="mr-3 ml-3 mt-3">
      <table id="tableCustomer" class="table table-hover table-fixed">
        <thead style="background-color: #FFB200">
        <tr>
          <th>ID</th>
          <th>Code</th>
          <th>Type</th>
          <th>Name</th>
          <th>Birthday</th>
          <th>Gender</th>
          <th>Id_card</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Address</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        </thead>
        <!--Table head-->
        <!--Table body-->
        <tbody style="background-color: #8CC0DE">
        <tr>
          <th scope="row">001</th>
          <td>KH-001</td>
          <td>Diamond</td>
          <td>Vo Phuong Nhi</td>
          <td>20/10/2001</td>
          <td>Nu</td>
          <td>382937283728</td>
          <td>0421352322</td>
          <td>nhi@gmail.com</td>
          <td>Da Nang</td>
          <td>
            <a class="btn" style="border: none; background-color: #FFF4CF">
              <img
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAABmJLR0QA/wD/AP+gvaeTAAABpElEQVRYhe3YsUsWYRwH8A8ZgSLv0BJhS+DQ0NTaH2CkSTi0GLi1BTa5eTU39GcEEk0JNjS4qARCgYMIIi2CDbo5RsNz6fu+nvry3PPcNbxfeDh4jufuc7/n4e7hGGagPMNY24jLUuAQ31QgbzTO6c0SpvAAW1jDeKuirhTYRaer771LKtl0CmwKwIW+c60jC2zgnoD8rRfZEdbkbPO0XtwGljHhHNkp+4v+gfM4Ttiqnr4Kpzz+m+7dKhws4u1ANYjLVbju6a7E5QYu9SGW+/rvYv0qXE5gElwuYDJcDmBSXGpgclxKYBZcKmA2XApgVlxd4CAv4crPF57nBtat3ElO4Bt8F1e5RoAH+FUiY3ADAWO3/A+FXcsr3MenEvcEL7CCr3gXef2z3IwcN4MvJeKlsM4OMJcSR3wFn+IRbjlH3sHnlDjiKngbk1gVpvYHpvEHH/EhFY444JRQuWns41TYru8kdJ0lBriN18JUHqflXEwMcK9sjaTtPwvXZgismyGwbobAuvnvgd0v6sfCTrjJXFugkfJ4hNG8lsqs4GcL902Xv64WoNPr/zHvAAAAAElFTkSuQmCC"/>
            </a>
          </td>
          <td>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" style="border: none; background-color: #FFF4CF"
                    data-toggle="modal" data-target="#exampleModal">
              <img
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAABmJLR0QA/wD/AP+gvaeTAAACGklEQVRYhe3XsWsUQRTH8c+dCQhKIOQU1E6CGhBEwYCIpaCFgkJIaWehlY2gNoIhrY02/gk2SWWjnRYHBsRKsbAySEgOQRGEiGexc8m5utmZ27uIcl8YuHk37zePN/Pe7jJkyJBtYRZNLIXRxMxfjShHE7u65ruDrTK1xPXHcRcHcvYpvImwLQf/V4n7RtEIwpMVNCaDRiPWoSyDI7iPU5jASzxLDGpZlsmpML+Ck1iTXYMb+J6oucFlPEC9V4EtqONh2KOQkRKR97iFq/jRn7g2qGMaj7ZaFFMkx3Ad43haPS5wFp9kGXzdD8HzuNcPocAczsUsLDviDmt+r7w72IHHeCvrfbfRxjy+ygpjRlYE812+E2jFbBx7+VtBNB/0HM6E+SEsYBGHg206rMkHEx1glQy2ZYXTucc1m4XUsS0GWzvn2wiapcRm8DPGItd2c6nAPhY0SxlEf+tmoapAaoCpz+7ZAnv+yAtJCfCLrFKrMha0okgJ8E+F0gvRBcJ/FmBL/wKM6oGkB5hv1r0Q3aSJb9TEH/FKyf9JAabewZgMfgijiAZWYzcdRJGMh1HEwDIYewcPhlHEtrWZvTiBj2G+iqNhdI5wRfYluKfLLymDqSx1/T6CC359/J0Oo0MNF22+fuU1+s4L7Kvgvx/PUxxS2gzcxBPZt+16ou+o7LivpTilvp3ATtnb82ii3zre4VsPew4ZMuSf5SeCVWKhU3QK3QAAAABJRU5ErkJggg==">
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">002</th>
          <td>KH-002</td>
          <td>Member</td>
          <td>Tran Van A</td>
          <td>12/02/1999</td>
          <td>Nam</td>
          <td>387492352728</td>
          <td>0921532362</td>
          <td>Aaa@gmail.com</td>
          <td>Ha Noi</td>
          <td>
            <a class="btn" style="border: none; background-color: #FFF4CF">
              <img
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAABmJLR0QA/wD/AP+gvaeTAAABpElEQVRYhe3YsUsWYRwH8A8ZgSLv0BJhS+DQ0NTaH2CkSTi0GLi1BTa5eTU39GcEEk0JNjS4qARCgYMIIi2CDbo5RsNz6fu+nvry3PPcNbxfeDh4jufuc7/n4e7hGGagPMNY24jLUuAQ31QgbzTO6c0SpvAAW1jDeKuirhTYRaer771LKtl0CmwKwIW+c60jC2zgnoD8rRfZEdbkbPO0XtwGljHhHNkp+4v+gfM4Ttiqnr4Kpzz+m+7dKhws4u1ANYjLVbju6a7E5QYu9SGW+/rvYv0qXE5gElwuYDJcDmBSXGpgclxKYBZcKmA2XApgVlxd4CAv4crPF57nBtat3ElO4Bt8F1e5RoAH+FUiY3ADAWO3/A+FXcsr3MenEvcEL7CCr3gXef2z3IwcN4MvJeKlsM4OMJcSR3wFn+IRbjlH3sHnlDjiKngbk1gVpvYHpvEHH/EhFY444JRQuWns41TYru8kdJ0lBriN18JUHqflXEwMcK9sjaTtPwvXZgismyGwbobAuvnvgd0v6sfCTrjJXFugkfJ4hNG8lsqs4GcL902Xv64WoNPr/zHvAAAAAElFTkSuQmCC"/>
            </a>
          </td>
          <td>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" style="border: none; background-color: #FFF4CF"
                    data-toggle="modal" data-target="#exampleModal">
              <img
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAABmJLR0QA/wD/AP+gvaeTAAACGklEQVRYhe3XsWsUQRTH8c+dCQhKIOQU1E6CGhBEwYCIpaCFgkJIaWehlY2gNoIhrY02/gk2SWWjnRYHBsRKsbAySEgOQRGEiGexc8m5utmZ27uIcl8YuHk37zePN/Pe7jJkyJBtYRZNLIXRxMxfjShHE7u65ruDrTK1xPXHcRcHcvYpvImwLQf/V4n7RtEIwpMVNCaDRiPWoSyDI7iPU5jASzxLDGpZlsmpML+Ck1iTXYMb+J6oucFlPEC9V4EtqONh2KOQkRKR97iFq/jRn7g2qGMaj7ZaFFMkx3Ad43haPS5wFp9kGXzdD8HzuNcPocAczsUsLDviDmt+r7w72IHHeCvrfbfRxjy+ygpjRlYE812+E2jFbBx7+VtBNB/0HM6E+SEsYBGHg206rMkHEx1glQy2ZYXTucc1m4XUsS0GWzvn2wiapcRm8DPGItd2c6nAPhY0SxlEf+tmoapAaoCpz+7ZAnv+yAtJCfCLrFKrMha0okgJ8E+F0gvRBcJ/FmBL/wKM6oGkB5hv1r0Q3aSJb9TEH/FKyf9JAabewZgMfgijiAZWYzcdRJGMh1HEwDIYewcPhlHEtrWZvTiBj2G+iqNhdI5wRfYluKfLLymDqSx1/T6CC359/J0Oo0MNF22+fuU1+s4L7Kvgvx/PUxxS2gzcxBPZt+16ou+o7LivpTilvp3ATtnb82ii3zre4VsPew4ZMuSf5SeCVWKhU3QK3QAAAABJRU5ErkJggg==">
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">003</th>
          <td>KH-003</td>
          <td>Gold</td>
          <td>Le Tran Anh Tuyet</td>
          <td>21/07/1992</td>
          <td>Nu</td>
          <td>458363926352</td>
          <td>0332528533</td>
          <td>anhtuyetle@gmail.com</td>
          <td>TP HCM</td>
          <td>
            <a class="btn" style="border: none; background-color: #FFF4CF">
              <img
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAABmJLR0QA/wD/AP+gvaeTAAABpElEQVRYhe3YsUsWYRwH8A8ZgSLv0BJhS+DQ0NTaH2CkSTi0GLi1BTa5eTU39GcEEk0JNjS4qARCgYMIIi2CDbo5RsNz6fu+nvry3PPcNbxfeDh4jufuc7/n4e7hGGagPMNY24jLUuAQ31QgbzTO6c0SpvAAW1jDeKuirhTYRaer771LKtl0CmwKwIW+c60jC2zgnoD8rRfZEdbkbPO0XtwGljHhHNkp+4v+gfM4Ttiqnr4Kpzz+m+7dKhws4u1ANYjLVbju6a7E5QYu9SGW+/rvYv0qXE5gElwuYDJcDmBSXGpgclxKYBZcKmA2XApgVlxd4CAv4crPF57nBtat3ElO4Bt8F1e5RoAH+FUiY3ADAWO3/A+FXcsr3MenEvcEL7CCr3gXef2z3IwcN4MvJeKlsM4OMJcSR3wFn+IRbjlH3sHnlDjiKngbk1gVpvYHpvEHH/EhFY444JRQuWns41TYru8kdJ0lBriN18JUHqflXEwMcK9sjaTtPwvXZgismyGwbobAuvnvgd0v6sfCTrjJXFugkfJ4hNG8lsqs4GcL902Xv64WoNPr/zHvAAAAAElFTkSuQmCC"/>
            </a>
          </td>
          <td>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" style="border: none; background-color: #FFF4CF"
                    data-toggle="modal" data-target="#exampleModal">
              <img
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAABmJLR0QA/wD/AP+gvaeTAAACGklEQVRYhe3XsWsUQRTH8c+dCQhKIOQU1E6CGhBEwYCIpaCFgkJIaWehlY2gNoIhrY02/gk2SWWjnRYHBsRKsbAySEgOQRGEiGexc8m5utmZ27uIcl8YuHk37zePN/Pe7jJkyJBtYRZNLIXRxMxfjShHE7u65ruDrTK1xPXHcRcHcvYpvImwLQf/V4n7RtEIwpMVNCaDRiPWoSyDI7iPU5jASzxLDGpZlsmpML+Ck1iTXYMb+J6oucFlPEC9V4EtqONh2KOQkRKR97iFq/jRn7g2qGMaj7ZaFFMkx3Ad43haPS5wFp9kGXzdD8HzuNcPocAczsUsLDviDmt+r7w72IHHeCvrfbfRxjy+ygpjRlYE812+E2jFbBx7+VtBNB/0HM6E+SEsYBGHg206rMkHEx1glQy2ZYXTucc1m4XUsS0GWzvn2wiapcRm8DPGItd2c6nAPhY0SxlEf+tmoapAaoCpz+7ZAnv+yAtJCfCLrFKrMha0okgJ8E+F0gvRBcJ/FmBL/wKM6oGkB5hv1r0Q3aSJb9TEH/FKyf9JAabewZgMfgijiAZWYzcdRJGMh1HEwDIYewcPhlHEtrWZvTiBj2G+iqNhdI5wRfYluKfLLymDqSx1/T6CC359/J0Oo0MNF22+fuU1+s4L7Kvgvx/PUxxS2gzcxBPZt+16ou+o7LivpTilvp3ATtnb82ii3zre4VsPew4ZMuSf5SeCVWKhU3QK3QAAAABJRU5ErkJggg==">
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Do you want to delete this customer?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
