.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar-toggler {
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.navbar-toggler-icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #000;
}

@media (max-width: 989px) {
  .navbar__container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
