<div class="grid wide services__container" style="background-color: white">
  <div class="row justify-content-center">
    <h2>Contract List</h2>
  </div>
  <div>
    <a [routerLink]="['/contractCreate']">Create new contract</a>
  </div>
  <div class="mr-3 ml-3 mt-3">
    <table id="tableContract" class="table table-hover table-fixed">
      <thead style="background-color: #FEFBE7">
      <tr>
        <th>ID</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Deposit</th>
        <th>Customer ID</th>
        <th>Service ID</th>
      </tr>
      </thead>
      <!--Table head-->
      <!--Table body-->
      <tbody>
      <tr *ngFor="let contract of contractList | paginate: {itemsPerPage: 1, currentPage: p}">
        <th scope="row">{{contract.id}}</th>
        <td>{{contract.startDay | date: 'dd/MM/yyyy'}}</td>
        <td>{{contract.endDay}}</td>
        <td>{{contract.deposit}}</td>
        <td>{{contract.customer.code}}</td>
        <td>{{contract.facility.id}}</td>
      </tr>
      </tbody>
    </table>
    <!--Table-->
  </div>
  <div class="wide grid pagination__container">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>

