<div class="grid wide services__container mt-4" style="background-color: white">
  <div class="row justify-content-center">
    <h2>Create Facility</h2>
  </div>
  <div>
    <form method="post" style="width: 1000px; margin-left: 100px" [formGroup]="formCreate" (ngSubmit)="createFacility()">
      <div class="row d-flex">
        <div class="col-6">
          <div class="form-group">
            <label>Service Name</label>
            <input type="text" style="background-color: #FEFBE7" class="form-control" formControlName="name" placeholder="Enter service name">
            <div *ngIf="formCreate.get('name')?.invalid && (formCreate.get('name')?.touched||formCreate.get('name')?.dirty)">
              <div [hidden]="!formCreate.get('name').errors.required">
                <small class="form-text" style="color: red; font-style: italic" >
                  Bạn chưa nhập tên dịch vụ.</small>
              </div>
            </div>
            <div *ngIf="formCreate.get('name')?.invalid && (formCreate.get('name')?.touched||formCreate.get('name')?.dirty)">
              <div [hidden]="!formCreate.get('name').errors.pattern">
                <small class="form-text" style="color: red; font-style: italic" >
                  Tên dịch vụ không được chứa số.</small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Area</label>
            <input type="text" style="background-color: #FEFBE7" class="form-control" formControlName="area" placeholder="Enter service area">
            <div *ngIf="formCreate.get('area')?.invalid && (formCreate.get('area')?.touched||formCreate.get('area')?.dirty)">
              <div [hidden]="!formCreate.get('area').errors.required">
                <small class="form-text" style="color: red; font-style: italic" >
                  Bạn chưa nhập diện tích.</small>
              </div>
            </div>
            <div *ngIf="formCreate.get('area')?.invalid && (formCreate.get('area')?.touched||formCreate.get('area')?.dirty)">
              <div [hidden]="!formCreate.get('area').errors.pattern">
                <small class="form-text" style="color: red; font-style: italic" >
                  Nhập diện tích phải là kiểu số.</small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Cost</label>
            <input type="text" style="background-color: #FEFBE7" class="form-control" formControlName="cost" placeholder="Enter cost">
            <div *ngIf="formCreate.get('cost')?.invalid && (formCreate.get('cost')?.touched||formCreate.get('cost')?.dirty)">
              <div [hidden]="!formCreate.get('cost').errors.required">
                <small class="form-text" style="color: red; font-style: italic" >
                  Bạn chưa nhập giá tiền.</small>
              </div>
            </div>
            <div *ngIf="formCreate.get('cost')?.invalid && (formCreate.get('cost')?.touched||formCreate.get('cost')?.dirty)">
              <div [hidden]="!formCreate.get('cost').errors.pattern">
                <small class="form-text" style="color: red; font-style: italic" >
                  Nhập giá tiền phải là kiểu số.</small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Max People</label>
            <input type="text" style="background-color: #FEFBE7" class="form-control" formControlName="maxPeople" placeholder="Enter max people">
            <div *ngIf="formCreate.get('maxPeople')?.invalid && (formCreate.get('maxPeople')?.touched||formCreate.get('maxPeople')?.dirty)">
              <div [hidden]="!formCreate.get('maxPeople').errors.required">
                <small class="form-text" style="color: red; font-style: italic" >
                  Bạn chưa nhập số người.</small>
              </div>
            </div>
            <div *ngIf="formCreate.get('maxPeople')?.invalid && (formCreate.get('maxPeople')?.touched||formCreate.get('maxPeople')?.dirty)">
              <div [hidden]="!formCreate.get('maxPeople').errors.pattern">
                <small class="form-text" style="color: red; font-style: italic" >
                  Nhập số người phải là kiểu số.</small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Rent Type</label>
            <select class="custom-select" style="background-color: #FEFBE7" formControlName="rentType">
              <option value="" disabled selected>Choose Rent Type</option>
              <option [ngValue]="rentType.id" *ngFor="let rentType of rentTypes">{{rentType.name}}</option>
            </select>
            <div *ngIf="formCreate.get('rentType')?.invalid && (formCreate.get('rentType')?.touched||formCreate.get('rentType')?.dirty)">
              <div [hidden]="!formCreate.get('rentType').errors.required">
                <small class="form-text" style="color: red; font-style: italic" >
                  Bạn chưa chọn kiểu thuê.</small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Service Type</label>
            <select class="custom-select" style="background-color: #FEFBE7" formControlName="serviceType">
              <option value="" disabled selected>Choose Service Type</option>
              <option [ngValue]="svType" *ngFor="let svType of serviceTypes">{{svType.name}}</option>
            </select>
            <div *ngIf="formCreate.get('serviceType')?.invalid && (formCreate.get('serviceType')?.touched||formCreate.get('serviceType')?.dirty)">
              <div [hidden]="!formCreate.get('serviceType').errors.required">
                <small class="form-text" style="color: red; font-style: italic" >
                  Bạn chưa chọn kiểu dịch vụ.</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Standard Room</label>
            <input type="text" style="background-color: #FEFBE7" class="form-control" formControlName="standardRoom" placeholder="Enter Standard Room">
            <div *ngIf="formCreate.get('standardRoom')?.invalid && (formCreate.get('standardRoom')?.touched||formCreate.get('standardRoom')?.dirty)">
              <div [hidden]="!formCreate.get('standardRoom').errors.required">
                <small class="form-text" style="color: red; font-style: italic" >
                  Bạn chưa nhập tiêu chuẩn phòng.</small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Description Other</label>
            <input type="text" style="background-color: #FEFBE7" formControlName="description" class="form-control" placeholder="Enter description">
            <div *ngIf="formCreate.get('description')?.invalid && (formCreate.get('description')?.touched||formCreate.get('description')?.dirty)">
              <div [hidden]="!formCreate.get('description').errors.required">
                <small class="form-text" style="color: red; font-style: italic" >
                  Bạn chưa nhập miêu tả.</small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Pool Area</label>
            <input type="text" style="background-color: #FEFBE7" class="form-control" formControlName="poolArea" placeholder="Enter Pool area">
            <div *ngIf="formCreate.get('poolArea')?.invalid && (formCreate.get('poolArea')?.touched||formCreate.get('poolArea')?.dirty)">
              <div [hidden]="!formCreate.get('poolArea').errors.required">
                <small class="form-text" style="color: red; font-style: italic" >
                  Bạn chưa nhập diện tích hồ bơi.</small>
              </div>
            </div>
            <div *ngIf="formCreate.get('poolArea')?.invalid && (formCreate.get('poolArea')?.touched||formCreate.get('poolArea')?.dirty)">
              <div [hidden]="!formCreate.get('poolArea').errors.pattern">
                <small class="form-text" style="color: red; font-style: italic" >
                  Nhập diện tích hồ bơi phải là kiểu số.</small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Number of Floors</label>
            <input type="text" style="background-color: #FEFBE7" class="form-control" formControlName="numberOfFloor" placeholder="Enter Number of floors">
            <div *ngIf="formCreate.get('numberOfFloor')?.invalid && (formCreate.get('numberOfFloor')?.touched||formCreate.get('numberOfFloor')?.dirty)">
              <div [hidden]="!formCreate.get('numberOfFloor').errors.required">
                <small class="form-text" style="color: red; font-style: italic" >
                  Bạn chưa nhập số tầng.</small>
              </div>
            </div>
            <div *ngIf="formCreate.get('numberOfFloor')?.invalid && (formCreate.get('numberOfFloor')?.touched||formCreate.get('numberOfFloor')?.dirty)">
              <div [hidden]="!formCreate.get('numberOfFloor').errors.pattern">
                <small class="form-text" style="color: red; font-style: italic" >
                  Nhập diện tích số tầng phải là kiểu số.</small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Image</label>
            <input type="text" style="background-color: #FEFBE7" class="form-control" formControlName="image" placeholder="Enter Image">
            <div *ngIf="formCreate.get('image')?.invalid && (formCreate.get('image')?.touched||formCreate.get('image')?.dirty)">
              <div [hidden]="!formCreate.get('image').errors.required">
                <small class="form-text" style="color: red; font-style: italic" >
                  Bạn chưa nhập hình ảnh.</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wide grid button__container">
        <button type="submit" class="btn btn-outline-dark mb-4" style="background-color: #DAE5D0" [disabled]="!formCreate.valid">Save
        </button>
        <button type="submit" class="btn btn-outline-dark ml-4 mb-4" style="background-color: #DAE5D0">Cancel
        </button>
      </div>
    </form>
  </div>
</div>
