<div class="grid wide services__container mt-4" style="background-color: white">
  <div class="row justify-content-center">
    <h2>Update customer</h2>
  </div>
  <div>
    <form style=" width: 1000px; margin-left: 100px" [formGroup]="updateForm" (ngSubmit)="updateCustomer(id)">
      <div class="row d-flex">
        <div class="col-6">
          <div class="form-group">
            <label>Customer ID</label>
            <input type="text" class="form-control" formControlName="id" style="background-color: #FEFBE7">
          </div>
          <div class="form-group">
            <label>Customer Code</label>
            <input type="text" class="form-control" style="background-color: #FEFBE7" formControlName="code">
          </div>
          <div class="form-group">
            <label>Customer Type</label>
            <select class="custom-select" style="background-color: #FEFBE7" formControlName="type">
              <option *ngFor="let customerType of customerTypes">{{customerType}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Customer Name</label>
            <input type="text" class="form-control" style="background-color: #FEFBE7" formControlName="name">
          </div>
          <div class="form-group">
            <label>Birthday</label>
            <input type="date" class="form-control" style="background-color: #FEFBE7" formControlName="birthday">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group d-flex" style="margin-top: 38px">
            <label>Gender: </label>
            <div class="form-check" *ngFor="let gender of genders">
              <label>
                <input type="radio" [value]="gender" formControlName="gender">{{gender}} </label>
            </div>
          </div>
          <div class="form-group">
            <label>ID Card</label>
            <input type="text" class="form-control" style="background-color: #FEFBE7" formControlName="id_card">
          </div>
          <div class="form-group">
            <label>Phone Number</label>
            <input type="text" class="form-control" style="background-color: #FEFBE7" formControlName="phone">
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" style="background-color: #FEFBE7" formControlName="email">
          </div>
          <div class="form-group">
            <label>Address</label>
            <input type="text" class="form-control" style="background-color: #FEFBE7" formControlName="address">
          </div>
        </div>
      </div>
      <div class="wide grid button__container">
        <button type="submit" class="btn btn-outline-dark mb-4" style="background-color: #DAE5D0">Save
        </button>
        <button type="submit" class="btn btn-outline-dark ml-4 mb-4" style="background-color: #DAE5D0">Reset
        </button>
      </div>
    </form>
  </div>
</div>

