<div class="grid wide services__container mt-4" style="background-color: white">
  <div class="row justify-content-center">
    <h2>Update facility</h2>
  </div>
  <div>
    <form style=" width: 1000px; margin-left: 100px" [formGroup]="editForm" (ngSubmit)="updateFacility(id)">
      <div class="row d-flex">
        <div class="col-6">
          <div class="form-group">
            <label>Service ID</label>
            <input type="text" style="background-color: #FEFBE7" class="form-control" formControlName="id">
          </div>
          <div class="form-group">
            <label>Service Name</label>
            <input type="text" class="form-control" style="background-color: #FEFBE7" formControlName="name">
          </div>
          <div class="form-group">
            <label>Area</label>
            <input type="text" class="form-control" style="background-color: #FEFBE7" formControlName="area">
          </div>
          <div class="form-group">
            <label>Cost</label>
            <input type="text" class="form-control" style="background-color: #FEFBE7" formControlName="cost">
          </div>
          <div class="form-group">
            <label>Max People</label>
            <input type="text" class="form-control" style="background-color: #FEFBE7" formControlName="max_people">
          </div>
          <div class="form-group">
            <label>Rent Type</label>
            <select class="custom-select" style="background-color: #FEFBE7" formControlName = "rent_type">
              <option *ngFor="let rentType of rentTypes">{{rentType}}</option>
            </select>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Service Type</label>
            <select class="custom-select" style="background-color: #FEFBE7" formControlName="service_type">
              <option *ngFor="let typeService of typeServices">{{typeService}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Standard Room</label>
            <input type="text" class="form-control" style="background-color: #FEFBE7" formControlName = "standard">
          </div>
          <div class="form-group">
            <label>Description Other</label>
            <input type="text" class="form-control" style="background-color: #FEFBE7" formControlName="description">
          </div>
          <div class="form-group">
            <label>Pool Area</label>
            <input type="text" class="form-control" style="background-color: #FEFBE7" formControlName="pool_area">
          </div>
          <div class="form-group">
            <label>Number of Floors</label>
            <input type="text" class="form-control" style="background-color: #FEFBE7" formControlName = "floors">
          </div>
          <div class="form-group">
            <label>Image</label>
            <input type="text" style="background-color: #FEFBE7" class="form-control" formControlName="image">
          </div>
        </div>
      </div>
      <div class="wide grid button__container">
        <button type="submit" class="btn btn-outline-dark mb-4" style="background-color: #DAE5D0">Save
        </button>
        <button type="submit" class="btn btn-outline-dark ml-4 mb-4" style="background-color: #DAE5D0">Reset
        </button>
      </div>
    </form>
  </div>
</div>

