<div class="grid wide services__container" style="background-color: white">
  <div class="row justify-content-center">
    <h2>Customer List</h2>
  </div>
  <div>
    <a class="ml-5 btn btn-outline-dark" style="background-color: #DAE5D0" [routerLink]="['/customers/create']">Create new customer</a>
  </div>
  <div class="mr-3 ml-3 mt-3">
    <table class="table table-hover">
      <thead style="background-color: #FEFBE7">
      <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Type</th>
        <th width="40%">Name</th>
        <th>Birthday</th>
        <th>Gender</th>
        <th>Id_card</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      </thead>
      <!--Table head-->
      <!--Table body-->
      <tbody>
      <tr *ngFor="let customer of customers | paginate: {itemsPerPage: 5, currentPage: p}">
        <th scope="row">{{customer.id}}</th>
        <td>{{customer.code}}</td>
        <td>{{customer.type.name}}</td>
        <td>{{customer.name | titlecase}}</td>
        <td>{{customer.birthday | date: 'dd/MM/yyyy'}}</td>
        <td>{{customer.gender}}</td>
        <td>{{customer.idCard}}</td>
        <td>{{customer.phone}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.address | titlecase}}</td>
        <td>
          <a type="button" class="btn my-2 my-sm-0 btn-outline-dark"
                  style="background-color: #DAE5D0; color: #15133C" [routerLink]="['/customers/edit',customer.id]"> Edit
          </a>
        </td>
        <td>
          <!-- Button trigger modal -->
          <button type="button" class="btn my-2 my-sm-0 btn-outline-dark"
                  style=" background-color: #DAE5D0; color: #15133C"
                  data-toggle="modal" data-target="#exampleModal" [routerLink]="['/customers/delete',customer.id]">
            Delete
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="wide grid pagination__container">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>



