<!-- Header -->
<header class="header">
  <!-- Main Navigation -->
  <div>
    <nav class="navbar navbar-expand-lg" style="background-color: #277BC0">
      <a class="navbar-brand" style="color: #FFF4CF" href="#">FURAMA</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" style="color: #FFF4CF" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #FFF4CF" href="#">Customer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #FFF4CF" href="#">Service</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" style="color: #FFF4CF" href="#">Employee</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color: #FFF4CF" href="#" id="navbarDropdown" role="button"
               data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              Contract
            </a>
            <div class="dropdown-menu" style="background-color: #FFCB42" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Contract detail</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 mr-5">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn my-2 my-sm-0 btn-outline-light" style="background-color: #FFB200" type="submit">Search
          </button>
        </form>
      </div>
    </nav>
  </div>

  <div class="background-image intro-2">
    <div class="full-bg-img">
      <div class="mask rgba-black-strong flex-center">
        <div class="container">
          <div style="display: flex; justify-content: center;align-items: center">
            <h1 style="color: white">FACILITIES</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


<!-- Content !-->

<!-- Content !-->


<div style="margin-top: 100px">
  <!-- Footer -->
  <footer class="text-center text-lg-start text-muted" style="background-color: #FFCB42">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset mr-2">
          <i><img src="https://img.icons8.com/ios-filled/30/000000/facebook-new.png"/></i>
        </a>
        <a href="" class="me-4 text-reset mr-2">
          <i><img src="https://img.icons8.com/ios-glyphs/30/000000/instagram-new.png"/></i>
        </a>
        <a href="" class="me-4 text-reset mr-2">
          <i><img src="https://img.icons8.com/ios-glyphs/30/000000/twitter--v1.png"/></i>
        </a>
        <a href="" class="me-4 text-reset mr-2">
          <i><img src="https://img.icons8.com/ios-glyphs/30/000000/github.png"/></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="" style="background-color: #FFCB42">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Furamar Resort
            </h6>
            <p>
              Here you can enjoy your life.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Facilities
            </h6>
            <p>
              <a href="#!" class="text-reset">Villa</a>
            </p>
            <p>
              <a href="#!" class="text-reset">House</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Room</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@example.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="color: #FFCB42; background-color: #277BC0">
      © 2022 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Furamaresort.vn</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
